.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight,
.highlight .w {
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  color: #383838; /* grey text */
  background-color: #ffffff; /* Dark grey background */
  /* Set up font size */
  font-size: 0.88em;
}

.highlight .err {
  color: #282c34;
  background-color: #e06c75; /* Soft red for errors */
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: rgba(46, 155, 189, 0.89); /* Soft grey for comments */
}

.highlight .nv, .gs{
  color: #e06c75; /* Soft red for variables */
}

.highlight .cp {
  color: #56b6c2; /* Soft cyan for control keywords */
}

.highlight .nt {
  color: #56b6c2; /* Soft cyan for tags and selectors */
}

.highlight .o,
.highlight .ow {
  color: rgb(17, 17, 17); /* Light grey for operators */
}

.highlight .p,
.highlight .pi {
  color: rgb(17, 17, 17); /* Light grey for punctuation */
}

.highlight .gi {
  color: #98c379; /* Soft green for added lines */
}

.highlight .gd {
  color: #e06c75; /* Soft red for deleted lines */
}

.highlight .gh {
  color: #c678dd; /* Soft purple */
  font-weight: bold;
}
.highlight .gu {
  color: #e5c07b; /* Soft yellow for under headers */
}

/* variable names */
.highlight .n {
  color: rgba(72, 72, 72, 0.84); /* Soft yellow for variable names */
}

.highlight .bp {
  color: #8f3c5d; /* booleans */
}

.highlight .nf {
  color: #04bd7f; /* Soft cyan for user-defined functions */
}

.highlight .nb {
  color: #9393ea; /* Soft cyan for built-in functions */
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  color: #c678dd; /* Soft purple for keywords */
}

.highlight .kc {
  color: #d19a66; /* Soft orange for constants */
}

.highlight .kt {
  color: #d19a66; /* Soft orange for data types */
}

.highlight .kd {
  color: #d19a66; /* Soft orange for doctags */
}

.highlight .s,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color: #b0a752; /* Soft green for strings */
}

.highlight .sr {
  color: #56b6c2; /* Soft cyan for regex */
}

.highlight .si {
  color: #e6c07b; /* Soft orange for important strings */
}

.highlight .se {
  color: #e6c07b; /* Soft orange for end of line */
}

.highlight .nn {
  color: #e5c07b; /* Soft yellow for namespace */
}

.highlight .nc {
  color: #e5c07b; /* Soft yellow for class names */
}

.highlight .no {
  color: #d19a66; /* Soft orange for constants */
}

.highlight .na {
  color: #56b6c2; /* Soft cyan for annotations */
}

.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: #d19a66; /* Soft orange for numbers */
}

.highlight .ss {
  color: #98c379; /* Soft green for symbol */
}

/* Emphasis (italics) in markdown */
.highlight .em {
  font-style: italic;
  color: #c5c8c6; /* Softer color for emphasis */
}

/* Strong emphasis (bold) in markdown */
.highlight .st {
  font-weight: bold;
  color: #c5c8c6; /* Softer color for strong text, or use a different color if preferred */
}

/* Strikethrough in markdown */
.highlight .strikethrough /* Adjust class name based on your syntax highlighter */
{ /* Common class for strikethrough */
  text-decoration: line-through;
  color: #c5c8c6; /* Softer color for strikethrough text */
}

/* Markdown lists */
.highlight .li { /* This class name is an example, check your syntax highlighter */
  color: #c5c8c6; /* Softer color for list items */
}

/*.note-block {*/
/*  background-color: #f2f2f2; !* Light grey background to highlight the abstract *!*/
/*  border-left: 4px solid #009688; !* A colored border for emphasis *!*/
/*  padding: 15px; !* Spacing inside the block *!*/
/*  font-size: 0.9em; !* Smaller font size *!*/
/*  margin: 20px 0; !* Space above and below the abstract block *!*/
/*  line-height: 1.6; !* Adjust line height for readability *!*/
/*}*/

/* Base block style */
.block {
  position: relative;
  border-radius: 3.5px;
  padding: 15px;
  padding-left: 50px; /* Extra space for the icon */
  margin: 20px 0;
  line-height: 1.6;
  border-left: 4px solid transparent; /* This will be overwritten by individual block colors */
}

/* Icon before the block content */
.block:before {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 1.4em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* Information block */
.info-block {
  background-color: #e8f4f9; /* Soft pastel blue background */
  border-color: #619fd2; /* Slightly darker pastel blue for the border */
}

.info-block:before {
  content: "\f05a"; /* info-circle icon */
  color: #31708f; /* A more subdued blue for the icon, providing a gentle contrast */
}

/* Question block */
.question-block {
  background-color: #f4eef8; /* Soft pastel purple background */
  border-color: #a677d0; /* Slightly darker pastel purple for the border */
}

.question-block:before {
  content: "\f059"; /* question-circle icon */
  color: #6f42c1; /* A more subdued purple for the icon, providing a gentle contrast */
}

/* Warning block */
.warning-block {
  background-color: #fdf0f0; /* Soft pastel red background */
  border-color: #d3707a; /* Slightly darker pastel red for the border */
}

.warning-block:before {
  content: "\f071"; /* exclamation-triangle icon */
  color: #a94442; /* A more subdued red for the icon, providing a gentle contrast */
}


.abstract-block {
  background-color: rgba(225, 246, 238, 0.3); /* Light grey background for a minimalistic look */

  border-left: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
  border-color: #098579;
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* More padding inside the block */
  margin: 20px auto; /* Increased vertical spacing and centered */
  max-width: 95%; /* Retains the width to stand out more */
  font-size: .95em; /* Smaller font size for a sleek look */
  line-height: 1.5; /* Spacing between lines */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Softer shadow for a touch of depth */
}

/* Style for the abstract title */
.abstract-block strong {
  font-weight: 600; /* Bold but not too heavy */
  display: block; /* Ensures 'Abstract' starts on its own line */
  margin-bottom: 10px; /* Spacing after the 'Abstract' title */
  font-size: 1.05em; /* Slightly larger font size for the title */
  color: rgba(9, 133, 121, 0.84); /* Keeping the warm color for the title but can be adjusted if needed */
}

.abstract-block p {
  margin-bottom: 1em; /* Space between paragraphs */
  color: #4F4F4F; /* Modern dark grey for text for better readability */
  font-size: .95em; /* Maintaining smaller font size */
  line-height: 1.5; /* Spacing between lines */
}

figure {
  border-top: 1px solid #dadada;  /* Top border line */
  border-bottom: 1px solid #dadada;  /* Bottom border line */
  padding: 10px 0;  /* Padding between content and lines */
  margin: 20px 0;  /* Spacing around the figure */
}

figcaption {
  text-align: center;  /* Center the caption */
  font-size: 0.9em;
  /* top padding */
  padding-top: 10px;
}

