#toc,
.toc,
.mw-warning {
    background-color: #f8f8f8; /* Clean white background for a minimalistic look */
    /*border: 1px solid #d7dde5;  Very light border for a flat appearance */
    font-size: 95%;
    padding: 15px; /* Slightly more padding for a spacious feel */
    border-radius: 4px; /* Slightly rounded corners for a subtle touch */
    box-shadow: none; /* Removing the shadow for a flatter look */
}

#toc h2,
.toc h2 {
    border: none;
    display: inline;
    font-size: 24px;
    padding: 0;
    color: rgba(66, 66, 66, 0.84); /* Modern dark grey for the title */
    border-bottom: 1px solid #eaecef; /* Adding a bottom border for the lining effect */
    padding-bottom: 5px; /* Padding under the title, above the line */
    margin-bottom: 15px; /* Space below the title and line */
}

#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
    margin: 0 0 15px 0;
    padding-top: 0;
    line-height: 1.5;
    overflow: hidden;
    color: #2d3748;
}

#toc ul,
.toc ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px; /* Indent TOC items */
    text-align: left;
    border-left: 2px solid rgba(9, 133, 121, 0.49); /* Adding a vertical line for the book-style lining */
    border-radius: 0;
}

#toc ul ul,
.toc ul ul {
    margin: 0 0 0 1em;
}

#toc .toctoggle,
.toc .toctoggle {
    font-size: 94%;
    color: #2d3748;
}

#toc ul li {
    list-style-type: none;
    padding-left: 5px; /* Space from the vertical line to the text */
    color: #2d3748;
    line-height: 1.6; /* Adjust line height for better readability */
}

#toc-container {
    margin-bottom: 10px;
}

.floating-toc {
  position: absolute; /* Allows the TOC to move with scrolling */
  top: 150px; /* Adjust based on your header's height */
  left: 0; /* Align to the left side */
  width: auto; /* Allows the TOC to scale */
  max-width: 200px; /* Maximum width */
  margin-left: calc((100% - 800px) / 2 - 220px); /* Adjust the left margin */
  display: none; /* Initially hidden */
  background-color: #f9f9f9; /* Optional background */
  padding: 10px; /* Add some padding */
  border-radius: 4px; /* Rounded corners */
  transition: all 0.3s ease; /* Smooth transition for showing/hiding */
}

@media screen and (min-width: 1024px) {
  .floating-toc {
    display: block; /* Shows the TOC on larger screens */
  }
}